@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
// font-family: 'Prosto One', sans-serif;
// font-family: 'Scope One', serif;


@font-face {
    font-family: 'Fixel';
    src: local('FixelText Light'), local('FixelText-Light'),
        url('../fonts/FixelText-Light.woff2') format('woff2'),
        url('../fonts/FixelText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel';
    src: local('FixelText Regular'), local('FixelText-Regular'),
        url('../fonts/FixelText-Regular.woff2') format('woff2'),
        url('../fonts/FixelText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel';
    src: local('FixelText Medium'), local('FixelText-Medium'),
        url('../fonts/FixelText-Medium.woff2') format('woff2'),
        url('../fonts/FixelText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

