.footer {
    background-color: #222022;
    padding: 100px 0 70px;
    position: relative;
    overflow: hidden;

    // .container {
    //     position: relative;

    //     &:after {
    //         content: '';
    //         position: absolute;
    //         background-color: rgba(255, 255, 255, 0.50);
    //         opacity: 0.25;
    //         height: 300%;
    //         width: 1px;
    //         top: 50%;
    //         transform: translateY(-50%);
    //         left: 12px;
    //     }
    // }
}

.footer__frame {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
        width: 100%;
    }
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    position: relative;
    z-index: 1;
}

.footer__logo {
    padding-left: 70px;

    a {
        display: block;

        img {
            width: 92px;
            background-size: cover;
        }
    }
}

.footer__col {
    h4 {
        color: rgba(255, 255, 255, 0.45);
        font-family: Fixel;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.12px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    li {

        &+li {
            margin-top: 15px;
        }

        a {
            color: #FFF;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 1.05px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 1px;
                bottom: -3px;
                left: 0;
                width: 0;
                transition: .3s;
                background-color: #6C4B76;
            }


            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

.footer__col-row {
    display: flex;
    align-items: center;
    width: 295px;

    &+& {
        margin-top: 25px;
    }

    .icon {
        width: 24px;
        height: 24px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(196, 199, 200, 0.40);
        margin-right: 15px;
        transition: .3s;
    }

    &:hover {
        .icon {
            border: 1px solid #fff;
        }
    }

    span {
        color: #FFF;
        font-family: Fixel;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.05px;
        max-width: 240px;
    }
}


.footer__socials {
    margin: 60px 0 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;

    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: 0;
    //     width: 100%;
    //     height: 1px;
    //     background-color: rgba(255, 255, 255, 0.50);
    //     opacity: 0.25;
    // }

    ul {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 295px;

        li {
            background-color: #222022;
            border-radius: 50%;
            border: 1px solid rgba(196, 199, 200, 0.40);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            transition: .3s;
            position: relative;

            &+li {
                margin-left: 15px;
            }

            &:hover {
                border: 1px solid #fff;
            }

            // &:before {
            //     content: '';
            //     position: absolute;
            //     top: 50%;
            //     left: -11px;
            //     width: 10px;
            //     height: 1px;
            //     background-color: #222022;
            // }

            // &:after {
            //     content: '';
            //     position: absolute;
            //     top: 50%;
            //     right: -11px;
            //     width: 10px;
            //     height: 1px;
            //     background-color: #222022;
            // }
        }
    }
}

// adaptive ----------------- //

@media (max-width: 1399.8px) {
    .footer__inner {
        padding-left: 40px;
    }
}

@media (max-width: 1199.8px) {
    .footer__logo {
        padding-left: 40px;
    }

    .footer__inner {
        padding-left: 0px;
    }
}

@media (max-width: 991.8px) {
    .footer__col {
        width: 50%;
        margin-top: 40px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__logo {
        margin-bottom: 10px;
    }

    .footer {
        padding: 70px 0 35px;
    }


    .footer__inner {
        padding-left: 40px;
    }

    .footer__frame img {
        width: 90%;
    }
}

@media (max-width: 767.8px) {

    .footer__socials {
        justify-content: flex-start;

        ul {
            margin-left: 40px;

            // li:before,
            // li:after {
            //     background-color: transparent;
            // }
        }
    }
}

@media (max-width: 575.8px) {
    .footer {
        padding: 50px 0 25px;
    }

    // .footer .container:after {
    //     left: 12px;
    // }

    .footer__socials ul {
        margin-left: 15px;
    }

    .footer__logo {
        padding-left: 0px;
        text-align: center;

        a img {
            width: 70px;
            background-size: cover;
        }
    }

    .footer__inner {
        padding-left: 15px;
    }

    .footer__frame img {
        width: 100%;
    }

    .footer__col {
        width: 100%;
    }

}