html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

button:focus,
input:focus {
    outline: transparent;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    cursor: default;
    font-family: Fixel;
    font-weight: 400;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.section-title {
    color: #373534;
    font-family: Prosto One;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;

    span {
        color: #93719E;
        font-family: Scope One;
        font-size: 85px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
}



// ---------------- PRELOADER --------------- //
.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    animation: preloadAnim .6s 2.6s linear forwards;
}


.preloader-element {
    opacity: 0;
    animation: widthAnim .8s 1.3s linear forwards;
}

.preloader-line {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: dash 2s linear forwards;
}

.preloader-text {
    opacity: 0;
    transform: translateY(-15px);
    animation: widthAnim .7s 1.6s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes widthAnim {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes preloadAnim {
    to {
        opacity: 0;
        z-index: -99;
        visibility: hidden;
    }
}


.violet-btn {
    border-radius: 40px;
    background: var(--Mulled-Vine, #6C4B76);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 18px 17px 18px;
    width: 266px;
    height: 58px;
    color: #FFF;
    font-family: Fixel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    transition: .3s;

    img {
        margin-left: 20px;
        margin-bottom: 2px;
        width: 20px;
        height: 15px;
        transition: .3s ease-in-out;
    }

    &:hover {
        filter: brightness(120%);
        color: #fff;

        img {
            transform: translateX(7px);
        }
    }
}
//  -------------- *** ---------------- //





//  --------- DATEPICKER ------------ //
.qs-datepicker-container {
    border-radius: 5px;
    border: none;
    background: #FFF;
    padding: 34px;
    width: 320px;
    box-shadow: 0px 5.47899px 32.87395px 0px rgba(0, 0, 0, 0.20);
    top: 65px !important;
}

.qs-controls {
    background: transparent;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 24px;
}

.qs-arrow.qs-left,
.qs-arrow.qs-right {
    position: absolute;
    top: 0px;
    right: 0;
    width: 20px;
    height: 20px;

    &:after {
        border: none;
        width: 5px;
        height: 9px;
        background-image: url(../img/svg/Previous-Month.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.qs-arrow.qs-left:after {
    background-image: url(../img/svg/Previous-Month.svg);
}

.qs-arrow.qs-right:after {
    background-image: url(../img/svg/Next-Month.svg);
}

.qs-month-year {
    color: var(--light-primary, #333);
    text-align: center;
    font-family: Fixel;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.qs-month-year:not(.qs-disabled-year-overlay):hover {
    border-bottom: none;
}

.qs-arrow.qs-left {
    right: 20px;
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    background: #dec5e673;
}

.qs-square {
    border-radius: 50%;
    height: 34px;
    width: 34px;

    &.qs-day {
        color: var(--light-primary, #333);
        text-align: center;
        font-family: Montserrat;
        font-size: 14.484px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &.qs-num {
        color: #5A5D60;
        text-align: center;
        font-family: Montserrat;
        font-size: 14.484px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &.qs-disabled {
            opacity: 1;
        }

        &.qs-active {
            color: #fff;
        }
    }

    &.qs-range-start {
        background: #6C4B76;
        color: #fff;

        &:hover {
            background: #6C4B76 !important;
        }
    }
}

.qs-active,
.qs-range-start {
    background: #6C4B76;
}


.qs-range-middle {
    background: #BDAEC1;
}

.qs-range-end {
    background: #99829F;
    color: #fff !important;
}

.qs-range-start:not(.qs-range-6) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 50% 0 0 50%;
        background: #BDAEC1;
    }
}

.qs-range-end:not(.qs-range-0),
.qs-range-middle.qs-range-6 {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0 50% 50% 0;
        background: #BDAEC1;
    }
}
//  -------------- *** ---------------- //
//  ----------------------------------- //





//  ------------ADAPTIVE ----------- //

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1460px;
    }
}

@media (max-width: 1599.8px) {
    .section-title {
        font-size: 40px;

        span {
            font-size: 70px;
        }
    }
}

@media (max-width:991.8px) {
    .section-title {
        font-size: 32px;

        span {
            font-size: 50px;
        }
    }
}


@media (max-width:767.8px) {
    .qs-datepicker-container {
        left: 50%!important;
        transform: translateX(-50%);
    }
    .section-title {
        font-size: 28px;

        span {
            font-size: 40px;
        }
    }
}

@media (max-width:575.8px) {
    .qs-datepicker-container {
        left: 50%!important;
        transform: translateX(-50%);
        width: 300px;
        padding: 30px 25px;
    }
}


@media (max-width:400px) {
    .section-title {
        font-size: 24px;

        span {
            font-size: 36px;
        }
    }

    .violet-btn {
        height: 52px;
        font-size: 14px;
    }
}