.header {
    width: 100%;
    position: fixed;
    z-index: 66;
    height: 91px;
    display: flex;
    align-items: center;
    transition: .4s;

    &.change-bg {
        background: rgba(30, 30, 30, 0.9);
        backdrop-filter: blur(17.160999298095703px);
    }

    &.custom {
        background: rgba(#222022, .95);
        backdrop-filter: blur(56.5px);
    }
}

.header__logo {
    position: relative;
    z-index: 99;

    a {
        display: block;
        text-align: center;

        img {
            width: 64px;
            background-size: cover;
        }
    }
}

.header__left {
    padding-left: 106px;
    padding-right: 58px;
}

.header__menu {
    >ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >li {
            >a {
                color: #FFF;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.05px;
                transition: .3s;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    transition: .3s;
                    background-color: #6C4B76;
                }
            }

            &:hover {
                >a:after {
                    width: 100%;
                }
            }
        }

        .sub-menu {
            position: relative;
            cursor: pointer;

            >a {
                pointer-events: none;
                padding-right: 30px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 5%;
                    right: 0;
                    background-image: url(../img/svg/arrow_down.svg);
                    width: 20px;
                    height: 20px;
                }
            }

            &.active {
                a:before {
                    transform: rotate(180deg);
                }

                >a:after {
                    width: 100%;
                }
            }

            ul {
                display: none;
                position: absolute;
                top: calc(100% + 33px);
                left: 0;
                padding: 22px 20px;
                background: rgba(30, 30, 30, 0.71);
                backdrop-filter: blur(17.160999298095703px);

                li {
                    display: block;

                    &+li {
                        margin-top: 15px;
                    }
                }

                a {
                    color: #FFF;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 1.05px;
                    transition: .3s;
                    white-space: nowrap;

                    &:hover {
                        color: #7F3C8C;
                    }
                }
            }
        }
    }
}

.header__right {
    padding-left: 58px;
    display: flex;
    align-items: center;
}

.header__number a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.12px;
    display: flex;
    align-items: center;
    margin-right: 56px;
    transition: .3s;

    img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        background-size: cover;
        transition: .3s;
    }

    &:hover {
        img {
            transform: rotate(15deg);
        }

        color: #8f6b9b;

    }
}


.header__lang-mobile,
.header__lang {
    ul {
        display: flex;
        align-items: center;
        width: 60px;
        justify-content: space-between;

        li {
            color: #FFF;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.05px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: #8f6b9b;
            }

            &.active {
                color: #6C4B76;
            }
        }
    }
}

.header__lang-mobile {
    display: none;
}

.header__btn {
    margin: 0 0 0 auto;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: -90px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #D9D9D9;
        opacity: 0.25;
        width: 1px;
        height: 90px;
    }

    a {
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.05px;
        transition: .3s;

        &:hover {
            color: #8f6b9b;
        }
    }
}

.burger-btn,
.header__mobile-phone {
    display: none;
}


// ---- adaptive ----- //

@media (max-width:1599.8px) {
    .header__btn:before {
        left: -30px;
    }
}

@media (max-width:1399.8px) {

    .header__left {
        padding-left: 50px;
        padding-right: 45px;
    }

    .header__right {
        padding-left: 45px;
    }

    .header__number a {
        margin-right: 25px;
    }

    .header__btn:before {
        left: -15px;
    }
}

@media (max-width:1199.8px) {
    .header__left {
        padding-left: 40px;
        padding-right: 0px;
        margin-right: -15px;
    }

    .header__right {
        padding-left: 0px;
        margin-left: -15px;
    }

    .header__number a {
        font-size: 14px;
    }

    .header__btn:before {
        left: -15px;
        height: 86px;
    }

    .header {
        height: 85px;
    }

}

@media (max-width:991.8px) {
    .header__lang-mobile {
        display: block;
        position: relative;
        z-index: 2;

        ul {
            margin: 35px auto;
        }
    }


    .burger-btn {
        display: block;
        z-index: 99;
        width: 21px;
        height: 19px;
        position: relative;
        margin: 0 0 0 auto;

        &:before,
        &:after,
        span {
            content: '';
            display: block;
            height: 1px;
            background-color: #fff;
            border-radius: 3px;
            position: absolute;
            right: 0;
        }

        &:before {
            top: 3px;
            width: 21px;
        }

        span {
            top: 10px;
            width: 21px;
        }

        &:after {
            top: 17px;
            width: 11px;
        }


        &:before {
            transition: all 0.3s ease;
        }

        span {
            transition: all 0.8s ease;
        }

        &:after {
            transition: all 0.3s ease;
        }

        &.active {
            &:before {
                top: 10px;
                transform: rotate(135deg);
                transition: all 0.3s ease 0.2s;
                background-color: #fff;
                width: 25px;
            }

            span {
                opacity: 0;
                transition: all 0.6s ease;
                background-color: #fff;
            }

            &:after {
                top: 10px;
                width: 25px;
                transform: rotate(-135deg);
                transition: all 0.3s ease 0.2s;
                background-color: #fff;
            }
        }
    }

    .header__mobile-phone {
        display: block;
        position: relative;
        z-index: 99;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .header__nav {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;
        min-height: 100%;
        transition: .4s;
        background-color: rgba(#000, 1);
        opacity: 0;
        z-index: -1;
        visibility: hidden;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 696px;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            border-left: 1px solid rgba(#D9D9D9, .25);
        }

        &.active {
            z-index: 55;
            opacity: 1;
            visibility: visible;
        }
    }

    .header__menu {
        padding-top: 85px;
        position: relative;
        z-index: 2;

        >ul {
            flex-direction: column;
            align-items: center;
            border-top: 1px solid rgba(#D9D9D9, .25);
            padding-top: 85px;

            li {
                width: 100%;
                text-align: center;
                width: auto;

                >a:after {
                    display: none;
                }

                &+li {
                    margin: 30px 0 0;
                }
            }

            .sub-menu {
                a {
                    padding-right: 0;

                    &:before {
                        display: none;
                    }
                }

                ul {
                    display: none;
                    position: relative;
                    top: initial;
                    left: initial;
                    padding: 20px 0px;
                    background: transparent;
                    backdrop-filter: none;
                }
            }
        }
    }

    .header__number {
        display: none;
    }

    .header__lang {
        display: none;
    }

    .header__btn {
        display: none;
    }
}

@media (max-width: 767.8px) {
    .header__logo a img {
        width: 55px;
    }

    .header__mobile-phone img {
        width: 40px;
        height: 40px;
    }

    .header__nav:after {
        width: 516px;
    }

    .header__left {
        padding-left: 25px;
    }
}

@media (max-width: 575.8px) {
    .header__nav:after {
        width: calc(100% - 24px);
    }
}