//  heroscreen section --------------------- //

.heroscreen {
    height: 100vh;
    min-height: 800px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 90px;
        width: 100%;
        height: 1px;
        opacity: 0.25;
        background-color: #D9D9D9;
    }
}

.heroscreen__inner {
    position: relative;
    z-index: 2;
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: -91px;
        width: 1px;
        height: calc(100% + 91px);
        opacity: 0.25;
        background-color: #D9D9D9;
    }
}


.heroscreen__title {
    h1 {
        margin-bottom: 35px;
        font-family: 'Prosto One', sans-serif;
        color: #FFF;
        font-size: 55px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        span {
            font-family: 'Scope One', serif;
            color: #93719E;
            font-size: 95px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }
}

.heroscreen__description {
    margin-bottom: 55px;
    max-width: 600px;
    text-align: center;

    p {
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 1.19px;
    }
}

.heroscreen__button {
    height: 58px;
    width: fit-content;
    padding: 15px 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition: .3s;
    position: relative;
    background-color: #6C4B76;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 53px;
        height: 100%;
        background-size: cover;
        background-image: url(../img/svg/btn_frame.svg);
    }

    &:hover {
        background-color: #8f6b9b;
        color: #f2f2f2;
    }

}

.heroscreen__slider {
    height: 100vh;
    min-height: 800px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.heroscreen__slide {
    position: relative;
    height: 100%;
    transition: 10s .7s ease-in-out;

    &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.70);
    }

    >img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
}

.swiper-slide.swiper-slide-active {
    .heroscreen__slide {
        transform: scale(1.2);
        transition: 0;
    }
}

.heroscreen__btns {
    position: absolute;
    bottom: 10%;
    left: 40px;
    width: 35px;
    height: 23px;

    .frame {
        position: absolute;
        top: 0;
        height: 100%;
        width: 13px;
        left: 50%;
        transform: translateX(-60%);
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 14px;
        height: 15px;
        background-size: cover;
        position: absolute;
        z-index: 3;
        margin: 0;

        &:after {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 0;
        top: 2px;
        bottom: initial;
        right: initial;
    }

    .swiper-button-next {
        right: 0;
        bottom: 0;
        top: initial;
        left: initial;
    }
}

.heroscreen__socials {
    position: absolute;
    right: 0;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 40px;
    padding-top: 90px;

    ul {
        margin-top: 45px;
        width: 40px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            height: 24px;
            width: 1px;
            background-color: #E0E0E0;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    li+li {
        margin-top: 15px;
    }

    >p {
        color: #AFAFAF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        transform: rotate(-90deg) translate(50%, -60%);
        width: 84px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(#C4C7C8, 0.5);
        transition: .3s;

        img {
            width: 24px;
            height: 24px;
            background-size: cover;
        }

        &:hover {
            border: 1px solid rgba(#fff, 1);
        }
    }
}

.heroscreen__frame {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    background-size: cover;
}


.violet-btn {
    border-radius: 40px;
    background: var(--Mulled-Vine, #6C4B76);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 18px 17px 18px;
    width: 266px;
    color: #FFF;
    font-family: Fixel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    transition: .3s;

    img {
        margin-left: 20px;
        margin-bottom: 2px;
        transition: .3s ease-in-out;
    }

    &:hover {
        filter: brightness(120%);
        color: #fff;

        img {
            transform: translateX(7px);
        }
    }


}

// ---------------- PRELOADER --------------- //

.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    animation: preloadAnim .6s 2.6s linear forwards;
}


.preloader-element {
    opacity: 0;
    animation: widthAnim .8s 1.3s linear forwards;
}

.preloader-line {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: dash 2s linear forwards;
}

.preloader-text {
    opacity: 0;
    transform: translateY(-15px);
    animation: widthAnim .7s 1.6s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes widthAnim {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes preloadAnim {
    to {
        opacity: 0;
        z-index: -99;
        visibility: hidden;
    }
}

//  -------------------------------------- //



// ------------ adaptive ---------------- //
@media (max-width:1399.8px) {
    .heroscreen__title h1 {
        font-family: "Prosto One", sans-serif;
        color: #FFF;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        span {
            font-size: 80px;
        }
    }
}

@media (max-width:1199.8px) {
    .heroscreen:before {
        top: 86px;
    }
}

@media (max-width:991.8px) {
    .heroscreen__title h1 {
        font-size: 40px;
        margin-bottom: 25px;

        span {
            font-size: 70px;
        }
    }

    .heroscreen__socials a {
        width: 35px;
        height: 35px;
    }

    .heroscreen__socials li+li {
        margin-top: 10px;
    }

    .heroscreen__socials ul {
        margin-top: 40px;
        width: 35px;
    }

    .heroscreen__socials>p {
        transform: rotate(-90deg) translate(50%, -62%);
    }
}

@media (max-width:767.8px) {
    .heroscreen__socials a {
        width: 30px;
        height: 30px;

        img {
            width: 20px;
            height: 20px;
            background-size: cover;
        }
    }

    .heroscreen__socials ul {
        margin-top: 30px;
        width: 30px;

        &:before {
            top: -35px;
        }
    }

    .heroscreen__socials>p {
        transform: rotate(-90deg) translate(50%, -90%);
        font-size: 10px;
    }

    .heroscreen-center .violet-btn {
        padding: 15px 18px 11px 18px;
    }

    .heroscreen__title h1 {
        font-size: 32px;
        margin-bottom: 25px;

        span {
            font-size: 50px;
        }
    }

    .heroscreen__description p {
        font-size: 16px;
    }

    .heroscreen__slider,
    .heroscreen__inner,
    .heroscreen {
        min-height: 700px;
    }

}

@media (max-width:575.8px) {
    .header__mobile-phone img {
        width: 40px;
        height: 40px;
    }
    .heroscreen__slider,
    .heroscreen__inner,
    .heroscreen {
        min-height: 600px;
    }
    .heroscreen__inner {
        padding-left: 5px;
        padding-right: 5px;
    }

    .heroscreen__btns {
        display: none;
    }

    .heroscreen__socials {
        display: none;
    }

    .heroscreen__title h1 {
        font-size: 27px;
        margin-bottom: 10px;

        span {
            font-size: 45px;
        }
    }
}

@media (max-width:460px) {
    .heroscreen__title h1 {
        font-size: 30px;
        text-align: center;

        span {
            font-size: 32px;
            display: block;
            text-align: center;
        }
    }

    .heroscreen__description p {
        font-size: 14px;
    }
}