.heroapart h1 {
    color: #FFF;
    font-family: Prosto One;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
}

.heroapart .heroscreen__description {
    p {
        color: #FFF;
    }

    span {
        display: block;
        color: rgba(255, 255, 255, 0.75);
    }
}

.apartaments__section {
    position: relative;

    .apartaments__section-inner {
        padding: 90px 0;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .apartaments__frame {
        position: absolute;
        bottom: 0;
        width: 30%;
        background-size: cover;
    }

    &:nth-child(odd) {
        .apartaments__frame {
            right: 0;
        }
    }

    &:nth-child(even) {
        .apartaments__section-inner {
            flex-direction: row-reverse;
            background-color: #f4f4f4;
        }

        .apartaments__frame {
            left: 0;
        }
    }
}

.apartaments__slider {
    width: calc(50% - 20px);
    margin: 0;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide {
        height: 623px;
    }
}

.apartaments__content {
    width: calc(50% - 40px);
    position: relative;
    z-index: 1;
}

.apartaments__title {
    margin-bottom: 25px;

    h2 {
        color: var(--Dune, #373534);
        font-family: Prosto One;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
    }
}

.apartaments__row {
    margin-bottom: 15px;
    border-bottom: 1px solid #E8E8E8;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
    }
}

.apartaments__row-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.apartaments__row-text {
    p {
        color: #21262E;
        font-family: Fixel Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    span {
        color: #717171;
    }
}

.apartaments__descr {
    height: 388px;
    overflow: auto;
    margin-bottom: 39px;

    &.small {
        height: 329px;
    }

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 20px;
        background: #F6F6F6;
        box-shadow: -1px 0px 0px 0px #F0F0F0 inset, 1px 0px 0px 0px #E8E8E8 inset;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #6C4B76;
        border-radius: 10px;
        border: 3px solid #F6F6F6;
    }
}

.apartaments__descr-price {
    margin-bottom: 7px;

    h3 {
        color: var(--Dune, #373534);
        font-family: Fixel Display;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 15px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: calc(50% - 15px);
            display: flex;
            align-items: center;
            margin-bottom: 13px;

            .date {
                color: var(--Dune, #373534);
                font-family: Fixel Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                margin-right: 8px;

                &:after {
                    content: '';
                    width: 16px;
                    height: 1px;
                    display: inline-block;
                    background: #373534;
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }

            .price {
                color: var(--Dune, #373534);
                font-family: Fixel Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                span {
                    color: var(--Mulled-Vine, #6C4B76);
                    font-family: Fixel Display;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                }
            }
        }
    }
}

.apartaments__descr-info {

    p,
    li {
        color: var(--Dune, #373534);
        font-family: Fixel Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    p+p {
        margin-top: 25px;
    }

    li+li {
        margin-top: 10px;
    }

    ul {
        margin: 15px 0;
        max-width: 500px;

        li {
            padding-left: 20px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 2px;
                top: 10px;
                width: 10px;
                height: 1px;
                background-color: #000;
            }
        }
    }

    ol {
        padding-left: 20px;

        li {
            list-style-type: decimal;
        }
    }
}

.apartaments__slider-btns {
    position: absolute;
    bottom: 45px;
    left: 45px;
    width: 35px;
    height: 23px;
    z-index: 9;

    .frame {
        position: absolute;
        top: 0;
        height: 100%;
        width: 13px;
        left: 50%;
        transform: translate(-60%, -1px);
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 14px;
        height: 15px;
        background-size: cover;
        position: absolute;
        z-index: 3;
        margin: 0;

        &:after {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 0;
        top: 0px;
        bottom: initial;
        right: initial;
    }

    .swiper-button-next {
        right: 0;
        bottom: 0;
        top: initial;
        left: initial;
    }
}

.apartaments__descr-additional {
    display: flex;
    padding-top: 60px;

    img {
        width: 40px;
        height: 40px;
        background-size: cover;
        margin-right: 15px;
    }

    p {
        color: #21262E;
        font-family: Fixel Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}

.apartaments__btn-mobile {
    display: none;
}

//  ---------------- ADAPTIVE ---------------- //

@media (max-width:1599.8px) {
    .apartaments__content {
        width: calc(50% - 15px);
    }

    .apartaments__descr-price ul li {
        width: calc(50% - 5px);
    }
}

@media (max-width:1399.8px) {
    .apartaments__descr-price ul li {
        width: 100%;
    }

    .apartaments__slider .swiper-slide {
        height: 550px;
    }

    .apartaments__descr {
        height: 324px;
        margin-bottom: 30px;
    }

    .apartaments__descr.small {
        height: 230px;
    }

}

@media (max-width:1199.8px) {
    .apartaments__btn {
        display: none;
    }

    .apartaments__section .apartaments__section-inner {
        padding: 90px 0 50px;
    }

    .apartaments__btn-mobile {
        display: block;
        padding: 0 12px;
        margin-top: 40px;
        width: 100%;

        .violet-btn {
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
        }
    }

    .apartaments__section .apartaments__frame {
        bottom: 640px;
    }

    .apartaments__descr.small {
        height: 324px;
    }

    .apartaments__section-inner {
        flex-wrap: wrap;
    }

    .apartaments__slider {
        width: 100%;
    }

    .apartaments__content {
        max-width: 960px;
        padding: 0 12px !important;
        margin: 0 auto;
        width: 100%;
        order: -1;
        margin-bottom: 40px;
    }
}

@media (max-width:991.8px) {
    .apartaments__content {
        max-width: 720px;
    }

    .apartaments__slider .swiper-slide {
        height: 500px;
    }

    .apartaments__content {
        margin-bottom: 10px;
    }

    .apartaments__title h2 {
        font-size: 26px;
    }
}

@media (max-width:767.8px) {
    .apartaments__section-inner {
        padding: 60px 0;
    }

    .apartaments__slider .swiper-slide {
        height: 450px;
    }


    .apartaments__content {
        max-width: 540px;
    }


    .apartaments__section .apartaments__frame {
        bottom: 510px;
    }
}

@media (max-width:575.8px) {
    .apartaments__slider .swiper-slide {
        height: 75vw;
    }

    .apartaments__section .apartaments__section-inner {
        padding: 70px 0 50px;
    }

    .apartaments__row ul {
        flex-wrap: wrap;

        li {
            width: 50%;
            margin-bottom: 10px;
        }
    }

    .apartaments__section .apartaments__frame {
        bottom: calc(75vw + 60px);
    }
}

@media (max-width:400px) {
    .apartaments__row-text p {
        font-size: 14px;
    }

    .apartaments__section .apartaments__section-inner {
        padding: 55px 0 50px;
    }

    .apartaments__row-icon img{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .apartaments__descr-price ul li {

        .price,
        .date {
            font-size: 14px;
        }

        .price {
            span {
                font-size: 14px;
            }
        }
    }

    .apartaments__descr-price h3 {
        font-size: 16px;
    }

    .apartaments__descr-info li,
    .apartaments__descr-info p {
        font-size: 14px;
    }
}