//  heroscreen section --------------------- //

.heroscreen {
    height: 100vh;
    min-height: 800px;
    position: relative;

    // &:before {
    //     content: '';
    //     position: absolute;
    //     z-index: 2;
    //     left: 0;
    //     top: 90px;
    //     width: 100%;
    //     height: 1px;
    //     opacity: 0.25;
    //     background-color: #D9D9D9;
    // }
    &.heroapart {
        height: 716px;
        min-height: auto;

        .heroscreen__inner {
            height: 716px;
            min-height: auto;
        }
        .heroscreen__slider {
            height: 716px;
            min-height: auto;
        }
    }
}

.heroscreen__inner {
    position: relative;
    z-index: 2;
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;

    // &:before {
    //     content: '';
    //     position: absolute;
    //     z-index: 1;
    //     left: 0;
    //     top: -91px;
    //     width: 1px;
    //     height: calc(100% + 91px);
    //     opacity: 0.25;
    //     background-color: #D9D9D9;
    // }
}


.heroscreen__title {
    h1 {
        margin-bottom: 35px;
        font-family: 'Prosto One', sans-serif;
        color: #FFF;
        font-size: 55px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-align: center;

        span {
            font-family: 'Scope One', serif;
            color: #93719E;
            font-size: 95px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            display: inline-block;
            transform: translateY(15%);
        }
    }
}

.heroscreen__description {
    margin-bottom: 55px;
    max-width: 600px;
    text-align: center;

    p {
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 1.19px;
    }
}



.heroscreen__slider {
    height: 100vh;
    min-height: 800px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.heroscreen__slide {
    position: relative;
    height: 100%;
    transition: 10s .7s ease-in-out;

    &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.70);
    }

    >img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
}

.swiper-slide.swiper-slide-active {
    .heroscreen__slide {
        transform: scale(1.2);
        transition: 0;
    }
}

.heroscreen__btns {
    position: absolute;
    bottom: 10%;
    left: 40px;
    width: 35px;
    height: 23px;

    .frame {
        position: absolute;
        top: 0;
        height: 100%;
        width: 13px;
        left: 50%;
        transform: translateX(-60%);
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 14px;
        height: 15px;
        background-size: cover;
        position: absolute;
        z-index: 3;
        margin: 0;

        &:after {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 0;
        top: 2px;
        bottom: initial;
        right: initial;
    }

    .swiper-button-next {
        right: 0;
        bottom: 0;
        top: initial;
        left: initial;
    }
}

.heroscreen__socials {
    position: absolute;
    right: 0;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 40px;
    padding-top: 90px;

    ul {
        margin-top: 45px;
        width: 40px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            height: 24px;
            width: 1px;
            background-color: #E0E0E0;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    li+li {
        margin-top: 15px;
    }

    >p {
        color: #AFAFAF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        transform: rotate(-90deg) translate(50%, -60%);
        width: 84px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(#C4C7C8, 0.5);
        transition: .3s;

        img {
            width: 24px;
            height: 24px;
            background-size: cover;
        }

        &:hover {
            border: 1px solid rgba(#fff, 1);
        }
    }
}

.heroscreen__frame {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    background-size: cover;
}


//  events section --------------------- //
.events {
    padding: 60px 0;
}

.events__title {
    h2 {
        color: var(--Dune, #373534);
        text-align: center;
        font-family: 'Prosto One', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 25px;
    }
}

.events__slider {
    padding: 20px 0;
    margin-left: 35px;

    .swiper-wrapper {
        transition-timing-function: linear;
    }

    .swiper-slide {
        width: 358px;
    }
}


.events__slide-img img {
    height: 100%;
    width: 150px;
    object-fit: cover;
}

.events__slide-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 208px;
    padding: 20px;

    h3 {
        font-family: Fixel Display;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        text-transform: uppercase;
    }

    span {
        color: #6C4B76;
        font-family: Fixel Display;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        transition: .3s;

        &:after {
            content: '';
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 26px;
            background-image: url(../img/svg/events_slide_arrow.svg);
            transition: .3s;
        }
    }
}

.events__slide {
    width: 358px;

    a {
        display: flex;
        height: 150px;
        width: 358px;
        background: #FFF;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.10);

        &:hover {
            .events__slide-content span {
                opacity: 0.8;

                &:after {
                    transform: translateX(6px);
                }
            }
        }
    }
}


//  reservation section ---------------------------

.reservation {
    padding: 100px 0 400px;
    position: relative;
}

.reservation__title {
    text-align: center;
    margin-bottom: 60px;
}

.reservation__form {
    width: 100%;
    max-width: 1223px;
    margin: 0 auto 40px;
    height: 72px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid rgba(98, 77, 125, 0.20);
    background: #FFF;
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.09);
    padding: 10px 13px;

    .info-text {
        color: var(--Shade-02, #222);
        font-family: Fixel Display;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 4px;
        padding: 0 40px;
        width: 100%;
        display: block;
    }
}

.reservation__form-guest {
    margin-right: 20px;
}

.guest-dropdown {
    display: none;
    position: absolute;
    z-index: 44;
    top: calc(100% + 18px);
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 21px;
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 5.47899px 32.87395px 0px rgba(0, 0, 0, 0.20);
}

.guest-dropdown__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &+.guest-dropdown__row {
        margin-top: 15px;
    }
}

.guest-dropdown__tip {
    p {
        color: var(--Shade-02, #222);
        font-family: Fixel Display;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 4px;
    }

    span {
        color: var(--Neutral-07, #717171);
        font-family: Fixel Display;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.guest-dropdown__counter {
    display: flex;
    align-items: center;

    .minus,
    .plus {
        width: 30px;
        height: 30px;
        border-radius: 4.286px;
        background: var(--Mulled-Vine, #6C4B76);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .3s;

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &:hover {
            opacity: 0.9;
        }
    }
}

.counter-field {
    color: var(--Shade-02, #222);
    font-family: Fixel Display;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 30px;
    padding: 0 8px;
    border: none;
}


.reservation__form-guest,
.reservation__form-datepicker {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 25px;
        background-color: #D3D3D3;
    }

    label {
        width: 322px;
        cursor: pointer;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 40px;
        }

        input {
            border: none;
            font-family: Fixel Display;
            font-weight: 400;
            color: var(--Neutral-07, #717171);
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            display: block;
            width: 100%;
            padding: 0 40px;

            &::placeholder {
                font-weight: 400;
                font-size: 14px;
                font-style: normal;
                line-height: normal;
            }
        }
    }
}

.reservation__form-btn {
    width: 214px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: var(--Mulled-Vine, #6C4B76);
    color: #FFF;
    font-family: Fixel Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    transition: .3s;
    padding: 18px 15px 15px;
    margin: 0 0 0 auto;

    &:hover {
        background-color: #8f6b9b;
        color: #f2f2f2;
    }
}

.reservation__image {
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0;

    img {
        width: 100%;
        background-size: cover;
    }
}

.reservation__rooms {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1223px;
    margin: 0 auto;
    gap: 34px;
    display: none;
}

.reservation.active {
    padding-bottom: 120px;

    .reservation__rooms {
        display: flex;
    }
}

.reservation__card {
    width: calc(33% - 19px);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
}

.reservation__card-image {
    img {
        width: 100%;
        height: 211px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
}

.gallery-image {
    .swiper-pagination-bullet {
        opacity: 1;
        width: 7px;
        height: 7px;

        &.swiper-pagination-bullet-active-next,
        &.swiper-pagination-bullet-active-prev,
        &.swiper-pagination-bullet-active-next-next,
        &.swiper-pagination-bullet-active-prev-prev {
            background: #DDDDDD;

        }
    }

    .swiper-pagination-bullet-active {
        background-color: #6C4B76;
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
        transform: scale(.88);
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
        transform: scale(.66);
    }
}

.reservation__card-content {
    width: 100%;
    padding: 16px 20px;
    background-color: #fff;

    h4 {
        color: #222;
        font-family: Fixel Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 5px;
    }

    p {
        color: #222;
        font-family: Fixel Display;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 19px;

        span {
            font-weight: 300;
        }
    }

    a {
        color: var(--Mulled-Vine, #6C4B76);
        font-family: Fixel Display;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.91px;
        text-transform: uppercase;
        transition: .3s;

        &:after {
            content: '';
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;
            transition: .3s;
            background-image: url(../img/svg/events_slide_arrow.svg);
            height: 20px;
            width: 20px;
            background-size: cover;
        }

        &:hover {
            opacity: 0.7;

            &:after {
                transform: translateX(5px);
            }
        }
    }
}


// contact section --------------- //



.contact {
    position: relative;
}

.contact__top {
    overflow: hidden;
    background-color: #fff;
}

.contact__top-inner {
    padding: 120px 0 71px 78px;
    display: flex;
    justify-content: space-between;
    position: relative;

    // &:after {
    //     content: '';
    //     position: absolute;
    //     background-color: #373534;
    //     opacity: 0.25;
    //     height: 100%;
    //     width: 1px;
    //     top: 0;
    //     left: 0;
    // }

    h2 {
        max-width: 530px;
        width: 100%;
    }

    a {
        height: 58px;
        width: 310px;
    }
}

.contact__info {
    background: var(--Mulled-Vine, #6C4B76);
}

.contact__info-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 18px 78px;
    position: relative;

    // &:after {
    //     content: '';
    //     position: absolute;
    //     background-color: #373534;
    //     opacity: 0.25;
    //     height: 100%;
    //     width: 1px;
    //     top: 0;
    //     left: 0;
    // }
}

.contact__info-col {
    display: flex;
    align-items: center;
}

.contact__info-item {
    display: flex;
    align-items: center;

    &+.contact__info-item {
        margin-left: 60px;
    }

    span {
        color: #FFF;
        font-family: Fixel Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.12px;
    }

    .icon {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        border: 1px solid rgba(196, 199, 200, 0.40);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        img {
            width: 24px;
            height: 24px;
            background-size: cover;
        }
    }

    &:hover {
        .icon {
            border: 1px solid #fff;
        }
    }
}

.contact__map {
    height: 450px;

    iframe,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// services section ---------------- //

.services__section {
    padding: 120px 0 96px;
    position: relative;

    // .asside-line {
    //     height: 100%;
    //     width: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;

    //     .container {
    //         height: 100%;
    //         border-left: 1px solid rgba(255, 255, 255, 0.50);
    //         opacity: 0.25;
    //     }
    // }

    .services__topwrap {
        position: relative;
    }

    .services__top-frame {
        position: absolute;
        bottom: 0;
        width: 35%;
    }

    @keyframes woodAnim {
        0% {
            transform: scaleX(1);
        }

        50% {
            transform: scaleX(1.04) rotate(1.3deg) translateY(7px);
        }

        100% {
            transform: scaleX(1);
        }
    }

    @keyframes woodAnim2 {
        0% {
            transform: scaleX(1);
        }

        50% {
            transform: scaleX(1.04) rotate(-1.3deg) translateY(7px);
        }

        100% {
            transform: scaleX(1);
        }
    }

    .services__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 99px;
        position: relative;
        z-index: 1;

        h2 {
            max-width: 780px;
        }

        .services__content {
            max-width: 480px;

            p {
                color: #FFF;
                font-family: Fixel Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 1.12px;
                margin-bottom: 40px;
            }

            a {
                color: var(--White, #FFF);
                font-family: Fixel Display;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: 1.12px;
                text-transform: uppercase;
                transition: .3s ease-in-out;

                &:after {
                    content: '';
                    margin-left: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    transition: .3s ease-in-out;
                    background-image: url(../img/svg/arrow_btn.svg);
                    width: 18px;
                    height: 15px;
                    background-size: cover;
                    margin-bottom: 3px;
                }

                &:hover {
                    opacity: 0.7;

                    &:after {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }

    &:nth-child(odd) {
        background: #222022;

        .services__slider {
            padding-left: 60px;
        }

        .services__top-frame {
            right: 0;
            animation: woodAnim2 7s ease-in-out infinite;
        }

        .services__top {
            padding-left: 60px;

            h2,
            p {
                color: #fff;
            }
        }
    }

    &:nth-child(even) {
        background: #FFF;

        .services__slider {
            padding-right: 60px;
        }

        .services__top-frame {
            animation: woodAnim 7s ease-in-out infinite;
            left: 0;
        }

        .services__top {
            flex-direction: row-reverse;
            padding-right: 60px;

            h2{
                text-align: right;
                color: #373534;
            }
            p {
                color: #373534;
            }

            a {
                color: var(--Mulled-Vine, #6C4B76);

                &:after {
                    background-image: url(../img/svg/serv_arrow_violet.svg);
                }
            }
        }

        // .asside-line {

        //     .container {
        //         border-right: 1px solid #373534;
        //         opacity: 0.25;
        //     }
        // }
    }

    &:last-child {
        padding-bottom: 130px;
    }
}

.services__slider {
    .swiper-slide {
        display: flex;
        justify-content: space-between;

        img {
            height: 540px;
            object-fit: cover;

            &:nth-child(odd) {
                width: calc(65% - 17px)
            }

            &:nth-child(even) {
                width: calc(35% - 17px);
            }
        }
    }
}



// faq section ------------------------------- //

.faq {
    padding: 120px 0 238px;
    background-color: #222022;
    position: relative;

    .faq__frame {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        img {
            width: 100%;
            background-size: cover;
        }
    }
}

.faq__title {
    text-align: center;
    margin-bottom: 49px;

    h2 {
        color: var(--White, #FFF);
    }
}


.faq__accordeon {
    border-top: 1px solid rgba(#7E7E7E, .25);
    position: relative;
    z-index: 1;
}

.faq__row {
    border-bottom: 1px solid rgba(#7E7E7E, .25);

    &.active {
        .arrow {
            transform: rotate(180deg);
        }
    }
}

.faq__row-head {
    display: flex;
    align-items: center;
    height: 138px;
    padding: 20px 0;
    cursor: pointer;

    span {
        color: #93719E;
        font-family: Scope One;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        width: 150px;
        padding-right: 15px;
    }

    h4 {
        color: #FFF;
        font-family: Prosto One;
        font-size: 20px;
        padding-right: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        text-transform: uppercase;
        max-width: 600px;
        width: 100%;
    }

    .arrow {
        width: 30px;
        height: 30px;
        background-image: url(../img/svg/accordeon_arrow.svg);
        margin: 0 0 0 auto;
        transition: .3s;
    }
}

.faq__row-body {
    padding: 0 120px 40px 150px;
    display: none;

    p,
    li {
        color: #C4C7C8;
        font-family: Fixel Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 1.12px;

        &+& {
            margin-top: 10px;
        }
    }

    ul {
        padding: 10px 20px;

        li {
            list-style: disc;
        }
    }

    ol {
        padding: 10px 20px;

        li {
            list-style: decimal;
        }
    }

}




// ------------ adaptive ---------------- //
@media (max-width:1399.8px) {

    .reservation__form-datepicker label,
    .reservation__form-guest label {
        width: 280px;
        padding: 0px 30px 0 0;
    }

    .reservation__form-datepicker label input,
    .reservation__form-guest label input,
    .reservation__form .info-text {
        padding-left: 30px;
    }

    .services__slider .swiper-slide img {
        height: 480px;
    }

    .services__slider .swiper-slide img:nth-child(odd) {
        width: calc(65% - 10px);
    }

    .services__slider .swiper-slide img:nth-child(even) {
        width: calc(35% - 10px);
    }

    .services__section:nth-child(odd) .services__slider {
        padding-left: 30px;
    }

    .services__section:nth-child(2n) .services__slider {
        padding-right: 30px;
    }


    .services__section .services__top h2 {
        max-width: 560px;
    }

    .services__section:nth-child(odd) .services__top {
        padding-left: 30px;
    }

    .services__section:nth-child(even) .services__top {
        padding-right: 30px;
    }

    .faq__row-head span {
        width: 110px;
    }

    .faq__row-body {
        padding: 0 90px 40px 110px;
    }

    .heroscreen__title h1 {
        font-family: "Prosto One", sans-serif;
        color: #FFF;
        font-size: 45px;

        span {
            font-size: 80px;
        }
    }

    .contact__map {
        height: 400px;
    }
}

@media (max-width:1199.8px) {

    .guest-dropdown {
        width: 300px;
    }

    .reservation__card-image img {
        height: 180px;
    }

    .reservation__card {
        width: calc(33% - 14px);
    }

    .reservation__rooms {
        gap: 25px;
    }

    .reservation__form-datepicker label,
    .reservation__form-guest label {
        width: 230px;
    }

    .reservation__form .info-text,
    .reservation__form-datepicker label input,
    .reservation__form-guest label input {
        padding: 0 22px;
    }

    .reservation__form-datepicker label img,
    .reservation__form-guest label img {
        right: 22px;
    }

    .reservation {
        padding: 100px 0 250px;
    }

    .services__slider .swiper-slide img {
        height: 430px;
    }

    .services__slider .swiper-slide img:nth-child(odd) {
        width: calc(65% - 7px);
    }

    .services__slider .swiper-slide img:nth-child(even) {
        width: calc(35% - 7px);
    }

    .services__section .services__top {
        padding-bottom: 50px;
    }

    .services__section {
        padding: 90px 0 80px;
    }

    .services__section:nth-child(2n) .services__top {
        flex-direction: row;
        justify-content: flex-start;
    }

    .services__section .services__top h2 {
        max-width: 800px;
        margin-bottom: 30px;
    }
    .services__section:nth-child(2n) .services__top h2 {
        text-align: left;
    }

    .services__section .services__top {
        flex-wrap: wrap;
    }

    .contact__map {
        height: 350px;
    }

    .contact__top-inner {
        padding: 100px 0 60px 40px;
    }

    .contact__info-inner {
        padding: 18px 0 18px 40px;
    }

    .contact__info-col {
        flex-wrap: wrap;

        &:nth-child(2) {
            width: 25%;
        }
    }

    .contact__info-item {
        width: 100%;

        &+.contact__info-item {
            margin: 20px 0 0 0;
        }
    }

    // .heroscreen:before {
    //     top: 86px;
    // }
}

@media (max-width:991.8px) {
    .guest-dropdown {
        transform: none;
        left: initial;
        right: 0px;
    }

    .heroapart .heroscreen__title h1 {
        font-size: 35px;
    }

    .reservation__card {
        width: calc(50% - 20px);
    }

    .reservation__rooms {
        gap: 40px;
    }

    .reservation {
        padding: 80px 0 200px;
    }

    .reservation__form-guest {
        margin-right: 0;

        &:after {
            display: none;
        }
    }

    .reservation__form-datepicker,
    .reservation__form-guest {
        position: relative;
        width: 33%;
    }

    .reservation__form-datepicker label,
    .reservation__form-guest label {
        width: 100%;
    }

    .reservation__form {
        border-radius: 20px;
    }

    .reservation__form-btn {
        margin: 30px auto 0;
        width: 60%;
    }

    .reservation__form {
        padding: 20px 30px;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    .services__section {
        padding: 80px 0 60px;
    }

    .services__section:last-child {
        padding-bottom: 90px;
    }

    .services__slider .swiper-slide img {
        height: 350px;
    }

    .services__slider .swiper-slide img:nth-child(odd) {
        width: calc(65% - 5px);
    }

    .services__slider .swiper-slide img:nth-child(even) {
        width: calc(35% - 5px);
    }

    .services__section:nth-child(odd) .services__top {
        padding-left: 15px;
    }

    .services__section:nth-child(even) .services__top {
        padding-right: 15px;
    }

    .services__section:nth-child(odd) .services__slider {
        padding-left: 15px;
    }

    .services__section:nth-child(even) .services__slider {
        padding-right: 15px;
    }

    .faq__row-head {
        height: 120px;

        h4 {
            font-size: 18px;
        }

        span {
            width: 90px;
            font-size: 35px;
        }
    }

    .faq__row-body {
        padding: 0 70px 40px 90px;
    }

    .contact__top-inner h2 {
        max-width: 330px;
    }

    .contact__top-inner a {
        width: 280px;
    }

    .contact__info-inner {
        flex-wrap: wrap;
        padding: 25px 0 25px 40px;
    }

    .contact__info-col {
        &+& {
            margin-top: 20px;
        }

        width: 100%;

        &:nth-child(2) {
            width: 100%;
        }
    }

    .events__slide a {
        height: 120px;
        width: 300px;
    }

    .events__slide-content h3 {
        font-size: 16px;
    }

    .events__slider .swiper-slide {
        width: 300px;
    }

    .events__slide {
        width: 300px;
    }

    .events__slide-img img {
        width: 120px;
    }

    .events__slide-content {
        width: auto;
    }

    .heroscreen__title h1 {
        font-size: 35px;
        margin-bottom: 35px;

        span {
            font-size: 60px;
        }
    }

    .heroscreen__socials a {
        width: 35px;
        height: 35px;
    }

    .heroscreen__socials li+li {
        margin-top: 10px;
    }

    .heroscreen__socials ul {
        margin-top: 40px;
        width: 35px;
    }

    .heroscreen__socials>p {
        transform: rotate(-90deg) translate(50%, -62%);
    }
}

@media (max-width:767.8px) {
    .guest-dropdown {
        width: 100%;
        right: 0;
    }

    .reservation__card-image img {
        height: 160px;
    }

    .reservation__card {
        width: calc(50% - 15px);
    }

    .reservation__rooms {
        gap: 30px;
    }

    .reservation {
        padding: 80px 0 160px;
    }

    .reservation__form-datepicker:after {
        display: none;
    }

    .reservation__form-datepicker,
    .reservation__form-guest {
        width: 100%;
    }

    .reservation__form-datepicker label,
    .reservation__form-guest label {
        padding: 0px;
    }

    .reservation__form-datepicker {
        margin-bottom: 20px;
    }

    .reservation__form-btn {
        margin: 30px auto 0;
        width: 100%;
    }

    .services__section .services__top-frame {
        width: 50%;
    }

    .services__slider .swiper-slide img {
        height: 40vw;
    }

    .services__section:nth-child(odd) .services__top {
        padding-left: 0px;
    }

    .services__section:nth-child(even) .services__top {
        padding-right: 0px;
    }

    .services__section:nth-child(odd) .services__slider {
        padding-left: 0px;
    }

    .services__section:nth-child(even) .services__slider {
        padding-right: 0px;
    }

    .faq {
        padding: 100px 0 150px;
    }

    .faq__row-head span {
        width: 60px;
        font-size: 30px;
    }

    .faq__row-head h4 {
        font-size: 16px;
        width: calc(100% - 70px);
    }

    .faq__row-head {
        height: 105px;
    }

    .faq__row-body {
        padding: 0 0px 40px 0px;

        p {
            font-size: 14px;
        }
    }

    .contact__top-inner {
        flex-wrap: wrap;
        padding: 50px 0 50px 40px;

        h2 {
            margin-bottom: 20px;
        }
    }

    .heroscreen__socials a {
        width: 30px;
        height: 30px;

        img {
            width: 20px;
            height: 20px;
            background-size: cover;
        }
    }

    .heroscreen__socials ul {
        margin-top: 30px;
        width: 30px;

        &:before {
            top: -35px;
        }
    }

    .heroscreen__socials>p {
        transform: rotate(-90deg) translate(50%, -90%);
        font-size: 10px;
    }



    .heroscreen__description p {
        font-size: 16px;
    }


}

@media (max-width:575.8px) {

    .reservation__form .info-text,
    .reservation__form-datepicker label input,
    .reservation__form-guest label input {
        padding: 0 10px;
    }

    .reservation__card-image img {
        height: 45vw;
    }

    .reservation__card {
        width: 100%;
    }

    .reservation__rooms {
        gap: 30px;
    }

    .reservation {
        padding: 70px 0 120px;
    }

    .reservation__title {
        margin-bottom: 40px;
    }

    .reservation__image {
        bottom: -100px;
    }

    .services__slider .swiper-slide img {
        height: 50vw;
    }

    .services__section .services__top .services__content p {
        margin-bottom: 30px;
    }

    .services__section .services__top {
        padding-bottom: 35px;
    }

    .services__section {
        padding: 60px 0 40px;
    }

    .faq {
        padding: 70px 0 150px;
    }

    .faq .faq__frame {
        bottom: -100px;
    }

    .faq__row-head .arrow {
        width: 25px;
        height: 25px;
        background-size: cover;
    }

    .faq__row-head {
        height: auto;

        h4 {
            font-size: 14px;
        }

        span {
            width: 55px;
            font-size: 24px;
        }
    }

    .faq__row-head .contact__map {
        height: 250px;
    }

    .contact__top-inner a {
        width: 100%;
    }

    .contact__top-inner {
        padding: 50px 15px 50px 15px;
    }

    .contact__info-inner {
        padding: 25px 0 25px 15px;
    }

    .contact__info-item .icon {
        width: 35px;
        height: 35px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .contact__info-item span {
        font-size: 14px;
    }

    .heroscreen__description {
        margin-bottom: 40px;

        p {
            font-size: 15px;
        }
    }

    .header__mobile-phone img {
        width: 40px;
        height: 40px;
    }

    .heroscreen__inner {
        padding-left: 5px;
        padding-right: 5px;
    }

    .heroscreen__btns {
        display: none;
    }

    .heroscreen__socials {
        display: none;
    }

}


@media (max-width:350px) {
    .heroapart .heroscreen__title h1 {
        font-size: 30px;
    }

    .reservation {
        padding: 40px 0 100px;
    }

    .reservation__image {
        bottom: -50px;
    }

    .faq {
        padding: 70px 0 80px;
    }

    .heroscreen__title h1 {
        font-size: 30px;
    }

    .contact__info-item span {
        font-size: 12px;
    }
}