.servsect {
    background-color: #fff;

    &.dark {
        background: var(--Viol-Black, #222022);

        .servsect__content {
            margin-top: 100px;
            padding: 110px 0 155px;
        }

        .servsect__content-inner {
            max-width: 620px;

            h2,
            h3,
            h4,
            h5,
            p,
            a {
                color: #fff;
            }
        }
    }
}

.servsect__content {
    margin-top: 100px;
    padding: 0 0 70px;
    position: relative;
    overflow: hidden;
}
.services__slider {
    margin-bottom: 100px;
}

.eventssect {
    padding-bottom: 40px;
}

.servsect__frame {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
    background-size: cover;
}

.servsect__content-inner {
    padding-left: 58px;
    max-width: 980px;
    width: 100%;
    position: relative;
    z-index: 2;

    h2 {
        margin-bottom: 40px;
        color: var(--Dune, #373534);
        font-family: Prosto One;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    h3 {
        color: var(--Dune, #373534);
        font-family: Prosto One;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 40px;
    }

    p {
        color: var(--Dune, #373534);
        font-family: Fixel Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        max-width: 780px;

        &+p {
            margin-top: 40px;
        }
    }

    .violet-btn {
        margin-top: 45px;
    }
}

.servsect__btn {
    margin-top: 40px;

    a {
        color: var(--Mulled-Vine, #6C4B76);
        font-family: Fixel Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.12px;
        text-transform: uppercase;
        transition: .3s ease-in-out;

        img {
            width: 18px;
            background-size: cover;
            margin-left: 20px;
            display: inline-block;
            vertical-align: middle;
            transition: .3s ease-in-out;
        }

        &:hover {
            opacity: 0.8;

            img {
                transform: translateX(4px);
            }
        }
    }
}

.servsect__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0 0px;
}

.servsect__row-item {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #C4C7C8;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 80px;

    img {
        width: 62px;
        height: 62px;
        background-size: cover;
    }
}



// servtypes

.servtypes {
    padding: 100px 0;
    background: var(--Viol-Black, #222022);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.servtypes__content {
    width: 55%;
    position: relative;
}


.servtypes__image {
    width: 100%;
    height: 600px;
    display: none;

    &.active {
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.servtypes__tabs {
    padding-left: 100px;
    padding-right: 12px;
    position: relative;
    z-index: 1;
    width: 45%;

    .tab {
        color: rgba(255, 255, 255, 0.15);
        font-family: Prosto One;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        transition: .3s;
        cursor: pointer;
        padding-left: 66px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            background-image: url(../img/svg/arrow-back-violet.svg);
            width: 46px;
            height: 38px;
            background-size: cover;
            margin-right: 20px;
            transform: translateY(-50%);
            transition: .3s;
            opacity: 0;
        }

        &+.tab {
            margin-top: 50px;
        }

        &:hover,
        &.active-tab {
            color: #FFF;

            &:before {
                left: -10px;
                opacity: 1;
            }
        }
    }
}






//  ADAPTIVE ---------------- //

@media (max-width: 1800px) {
    .servtypes__tabs {
        padding-left: 70px;
    }
}
@media (max-width: 1599.8px) {
    .servtypes__image {
        height: 540px;
    }

    .servtypes__tabs {
        padding-left: 50px;
    }
    .servtypes__tabs .tab {
        font-size: 26px;
    }
}

@media (max-width: 1399.8px) {
    .servsect__content-inner h2 {
        font-size: 40px;
    }

    .servtypes__tabs .tab+.tab {
        margin-top: 30px;
    }

    .servtypes__tabs .tab {
        font-size: 22px;
    }

    .servtypes__tabs {
        padding-left: 50px;
    }

    .servtypes__tabs .tab:before {
        width: 35px;
        height: 32px;
    }

    .servtypes__image {
        height: 500px;
    }
}

@media (max-width: 1199.8px) {
    .servtypes__image {
        height: 430px;
    }

    .servtypes__content {
        width: 52%;
    }

    .servtypes__tabs .tab:before {
        width: 30px;
        height: 28px;
    }
    .servtypes__tabs .tab{
        padding-left: 50px;
    }

}

@media (max-width: 991.8px) {
    .servtypes__tabs {
        padding-right: 10px;
        padding-left: 40px;
    }

    .servtypes__tabs .tab {
        font-size: 20px;
        padding-left: 0;
    }

    .servtypes__tabs .tab:before {
        display: none;
    }

    .servtypes__content {
        width: 55%;
    }

    .servtypes__image {
        height: 350px;
    }

    .servsect__row-item {
        width: 80px;
        height: 80px;

        img {
            width: 45px;
            height: 45px;
        }
    }

    .servsect__row-item {
        margin-right: 60px;
    }

    .servsect__content-inner h2,
    .servsect__content-inner h3,
    .servsect__content-inner h4 {
        font-size: 32px;
    }

    .servsect__content {
        margin-top: 70px;
        padding: 0 0 50px;
    }
    .services__slider {
        margin-bottom: 70px;
    }

    .servsect.dark .servsect__content {
        padding: 80px 0 100px;
        margin-top: 0;
    }

    .servsect__frame {
        width: 65%;
    }

    .servsect__content-inner {
        padding-left: 40px;
    }
}

@media (max-width: 767.8px) {
    .servsect__content-inner {
        padding-left: 30px;
    }

    .servtypes {
        flex-wrap: wrap;
        padding: 70px 0;
    }

    .servtypes__content {
        width: 100%;
        order: 2;
    }

    .servtypes__tabs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 25px 25px 25px;
    }

    .servtypes__tabs .tab {
        margin-bottom: 20px;
        font-size: 20px;
        width: 100%;
    }

    .servtypes__tabs .tab+.tab {
        margin-top: 0px;
    }

    .servsect__row-item {
        margin-right: 30px;
    }

    .servsect__content-inner p+p {
        margin-top: 20px;
    }

    .servsect__content-inner h2,
    .servsect__content-inner h3,
    .servsect__content-inner h4 {
        margin-bottom: 30px;
    }
}

@media (max-width: 575.8px) {
    .servtypes__image {
        height: 75vw;
    }

    .servtypes {
        padding: 50px 0 60px;
    }
    .eventssect {
        padding-bottom: 0px;
    }

    .servtypes__tabs .tab {
        font-size: 18px;
        width: 100%;
        margin-bottom: 15px;
    }

    .servtypes__tabs {
        padding: 0px 15px 15px 15px;
    }

    .servsect__content-inner {
        padding-left: 25px;
    }

    .servsect__content-inner h2,
    .servsect__content-inner h3,
    .servsect__content-inner h4 {
        font-size: 28px;
    }

    .servsect__content {
        padding: 0px 0 40px;
        margin-top: 50px;
    }
    .services__slider {
        margin-bottom: 50px;
    }

    .servsect__row-item {
        width: 60px;
        height: 60px;

        img {
            width: 35px;
            height: 35px;
        }
    }

    .servsect__row-item {
        margin-right: 35px;
    }
}

@media (max-width:400px) {
    .servsect__row-item {
        margin-right: 0px;
    }

    .servsect__row {
        padding-top: 30px;
        justify-content: space-between;
    }

    .servsect__content-inner h2,
    .servsect__content-inner h3,
    .servsect__content-inner h4 {
        font-size: 24px;
    }

    .servsect__content-inner {
        padding-left: 10px;
    }
}