.apartament {
    position: relative;

    .apartament-frame {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 85%;
        background-size: cover;
    }
}

.apartament__wrapper {
    padding: 130px 35px 120px;
}

.apartament__btn-back {
    margin-bottom: 19px;
    padding: 8px 0;

    a {
        color: var(--Mulled-Vine, #6C4B76);
        font-family: Fixel;
        font-size: 14.934px;
        font-style: normal;
        font-weight: 6 00;
        line-height: 110%;
        padding-left: 30px;
        position: relative;
        transition: .3s;

        &:before {
            content: '';
            position: absolute;
            top: -5px;
            left: 0;
            width: 20px;
            height: 26px;
            background: no-repeat url(../img/svg/arrow-back-violet.svg);
            transition: .3s;
        }

        &:hover {
            opacity: 0.9;

            &:before {
                transform: translateX(-2px);
            }
        }

    }
}

.apartament__gallery {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin-bottom: 60px;
}

.apartament__gallery-left,
.apartament__gallery-right {
    width: calc(50% - 10px);
    display: flex;

    a {
        overflow: hidden;
        border-radius: 5px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transform: scale(1);
        transition: .5s ease-in-out;

        &:hover {
            transform: scale(1.05);
            filter: brightness(80%);
        }
    }
}

.apartament__gallery-left {
    a {
        height: 504px;
        width: 100%;
    }
}

.apartament__gallery-right {
    flex-wrap: wrap;
    gap: 20px;

    a {
        width: calc(50% - 10px);
        height: 242px;
    }
}

.apartament__gallery-frame {
    padding: 5px 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.59);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;

    img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }

    p {
        color: var(--White, #FFF);
        font-size: 15px;
        font-family: Fixel;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.apartament__inner {
    display: flex;
    justify-content: space-between;
}

.apartament__info {
    max-width: 800px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.apartament__info-title {
    margin-bottom: 35px;

    h2 {
        color: var(--Dune, #373534);
        font-family: Prosto One;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}

.apartament__info-row {
    margin-bottom: 10px;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 45px;

        li {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
    }
}

.apartament__row-icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.apartament__row-text {
    display: flex;

    p {
        color: #21262E;
        font-family: Fixel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    span {
        color: #717171;
    }
}

.apartament__info-box {
    padding-bottom: 62px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(98, 77, 125, 0.20);

    h3 {
        margin-bottom: 35px;
        color: var(--Dune, #373534);
        font-family: Prosto One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}

.apartament__info-wrap {
    height: 150px;
    overflow: hidden;



    p {
        color: var(--Dune, #373534);
        font-family: Fixel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        &+p {
            margin-top: 35px;
        }
    }

    >ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            display: flex;
            width: 45%;
            align-items: center;
            margin-bottom: 20px;

            img {
                width: 31px;
                background-size: cover;
                margin-right: 10px;
            }

            p {
                color: #717171;
                font-family: Fixel;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
            }
        }
    }
}



.more-btn {
    display: inline-block;
    margin-top: 35px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: 0.7;
    }

    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/svg/arrow_down_violet.svg);
        width: 18px;
        height: 15px;
        background-size: cover;
        margin-left: 7px;
    }

    p {
        color: var(--Mulled-Vine, #6C4B76);
        font-family: Fixel;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin: 0;
        display: inline-block;
    }

    .less {
        display: none;
    }

    &.active {
        .less {
            display: inline-block;
        }

        .more {
            display: none;
        }

        &:after {
            transform: rotate(180deg);
        }
    }
}

.apartament__info-step {
    position: relative;
    padding-left: 45px;
    padding-bottom: 37px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 15px;
        height: 100%;
        width: 1px;
        background-color: rgba(98, 77, 125, 0.30);
    }

    &:last-child {
        padding-bottom: 20px;

        &:before {
            display: none;
        }
    }

    >p {
        color: var(--Mulled-Vine, #6C4B76);
        font-family: Fixel;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 15px;
    }

    .number {
        position: absolute;
        top: -5px;
        left: 0;
        width: 31px;
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #6C4B76;
        background-color: #fff;
    }

    >ul {

        p {
            color: var(--Dune, #373534);
            font-family: Fixel;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }

        span {
            font-weight: 500;
        }

        li {
            position: relative;
            padding-left: 25px;

            &:before {
                content: '';
                position: absolute;
                left: 7px;
                top: 7px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #6C4B76;
            }

            &+li {
                margin-top: 15px;
            }
        }
    }
}

.apartament__mobile-map,
.apartament__info-map {
    position: relative;
    z-index: 1;
    width: 100%;
    >h3 {
        color: var(--Dune, #373534);
        font-family: Prosto One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 35px;
    }

    iframe {
        width: 100%;
        height: 250px;
        margin-bottom: 15px;
    }

    p {
        color: var(--Dune, #373534);
        font-family: Fixel;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.05px;
    }
}


.apartament__form {
    border-radius: 12px;
    border: 1px solid rgba(98, 77, 125, 0.20);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.09);
    max-width: 433px;
    width: 100%;
    height: fit-content;
    padding: 20px 25px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    .guest-dropdown {
        top: calc(100% + 2px);
    }

    >h4 {
        color: #222;
        font-family: Fixel;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 15px;
    }

    button {
        border: none;
        outline: none;
        height: 48px;
        width: 100%;
        margin-bottom: 15px;
    }

    >span {
        color: #717171;
        font-family: Fixel;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
        display: block;
    }
}

.apartament__form-price {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    p {
        color: #222;
        font-family: Fixel;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        margin-right: 6px;
    }

    span {
        color: #222;
        font-family: Fixel;
        font-size: 15.625px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

.apartament__form-box {
    border: 1px solid #E0DBE5;
    border-radius: 8px;
    margin-bottom: 20px;
}

.datepicker {
    display: flex;
    position: relative;
    border-bottom: 1px solid #E0DBE5;

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #E0DBE5;
    }

    .start-date,
    .end-date {
        width: 50%;
        padding: 14px 15px 15px;
    }

    span {
        color: #717171;
        font-family: Fixel;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 5px;
    }

    p {
        color: var(--Mulled-Vine, #6C4B76);
        font-family: Fixel;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.apartament__form-box .reservation__form-guest {
    padding: 15px;
    position: relative;
    margin: 0;
    border-bottom: 1px solid #E0DBE5;

    &:after {
        content: '';
        position: absolute;
        background-image: url(../img/svg/arrow_down_violet.svg);
        width: 22px;
        height: 16px;
        background-size: cover;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
    }

    span {
        color: #717171;
        font-family: Fixel;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 5px;
    }

    input {
        color: var(--Mulled-Vine, #6C4B76);
        font-family: Fixel;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0;

    }
}

.apartament__form-box .inputfield {
    padding: 14px 15px;
    border-bottom: 1px solid #E0DBE5;

    &:last-child {
        border: none;
    }

    label {
        width: 100%;

        span {
            display: block;
            color: #717171;
            font-family: Fixel;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            margin-bottom: 8px;
        }

        input {
            border: none;
            padding: 5px 0 0;
            color: #222;
            font-family: Fixel;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            width: 100%;
        }
    }
}

.apartament__form-calculate {
    margin-top: 25px;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        p {
            color: var(--Shade-02, #222);
            font-family: Fixel;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &.total {
            padding-top: 23px;
            border-top: 1px solid rgba(98, 77, 125, 0.20);

            p {
                color: var(--Shade-02, #222);
                font-family: Fixel;
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}

.apartament__form-row {
    padding: 20px 16px;

    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &+& {
        border-top: 1px solid #E0DBE5;
    }

    .row-left {
        display: flex;
        align-items: center;
    }

    img {
        width: 19px;
        height: 19px;
        background-size: cover;
        margin-right: 15px;
    }

    p {
        color: var(--Shade-02, #222);
        font-family: Fixel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    span {
        color: var(--Mulled-Vine, #6C4B76);
        font-family: Fixel;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
    }

    .row-right {
        input {
            position: absolute;
            opacity: 0;
            z-index: -1;

            &+span:after {
                content: '';
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid rgba(98, 77, 125, 0.50);
                background: #FFF;
                display: inline-block;
                vertical-align: middle;
                margin-left: 25px;
            }

            &:checked+span:after {
                border: 6px solid rgba(98, 77, 125, 1);
            }
        }
    }
}

.apartament__form-box .additional-service {
    padding: 19px 15px;

    li {
        &+li {
            margin-top: 17px;
        }

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;
        }

        p {
            color: var(--Shade-02, #222);
            font-family: Fixel;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .service-checkbox {
        position: relative;

        input {
            position: absolute;
            opacity: 0;
            z-index: -1;

            &+span:after {
                content: '';
                width: 24px;
                height: 24px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 4px;
                border: 1px solid rgba(98, 77, 125, 0.50);
                background: var(--Shade-01, #FFF);
            }

            &:checked+span:after {
                background-image: url(../img/svg/Checkboxes.svg);
                background-size: cover;
                background-position: center;
                border: none;
            }
        }
    }
}

.apartament__mobile-map{
    display: none;
}


//  ---------------- ADAPTIVE ---------------- //

@media (max-width:1599.8px) {
    .apartament__info {
        max-width: 720px;
        padding-right: 50px;
    }
}

@media (max-width:1399.8px) {
    .apartament__info {
        padding-right: 20px;
    }

    .datepicker .end-date,
    .datepicker .start-date {
        padding: 10px 15px 10px;
    }

    .apartament__form-box .reservation__form-guest {
        padding: 10px 15px;
    }

    .apartament__form-box .inputfield {
        padding: 12px 15px 10px;
    }

    .apartament__form-box .inputfield label span {
        margin-bottom: 5px;
    }

    .apartament__form {
        max-width: 400px;
        padding: 20px 15px;
    }

    .apartament__gallery-left a {
        height: 450px;
    }

    .apartament__gallery-right a {
        width: calc(50% - 10px);
        height: 215px;
    }
}

@media (max-width:1199.8px) {
    .apartament__form {
        max-width: 350px;
    }

    .more-btn {
        margin-top: 20px;
    }

    .apartament__info-title h2 {
        font-size: 26px;
    }

    .apartament__info-box {
        padding-bottom: 40px;
        margin-bottom: 50px;
    }

    .apartament__gallery-left,
    .apartament__gallery-right {
        width: calc(50% - 6px);
    }

    .apartament__gallery-right {
        gap: 12px;
    }

    .apartament__gallery-left a {
        height: 400px;
    }

    .apartament__gallery-right a {
        width: calc(50% - 6px);
        height: 194px;
    }
}

@media (max-width:991.8px) {
    .apartament__info-map{
        display: none;
    }
    .apartament__mobile-map{
        display: block;
    }
    .apartament__inner {
        flex-wrap: wrap;
    }


    .apartament__info {
        width: 100%;
        padding-right: 0;
    }

    .apartament__form {
        width: 100%;
        margin-bottom: 45px;
    }

    .apartament__form-box .reservation__form-guest {
        width: 100%;
    }

    .apartament__form {
        max-width: 100%;
    }

    .apartament__wrapper {
        padding: 130px 0px 90px;
    }

    .apartament__gallery-left,
    .apartament__gallery-right {
        width: calc(50% - 4px);
    }

    .apartament__gallery-right {
        gap: 8px;
    }

    .apartament__gallery-left a {
        height: 308px;
    }

    .apartament__gallery-right a {
        width: calc(50% - 4px);
        height: 150px;
    }
}

@media (max-width:767.8px) {
    .apartament .apartament-frame {
        width: 100%;
    }
    .apartament__gallery {
        flex-wrap: wrap;
    }

    .apartament__gallery-left,
    .apartament__gallery-right {
        width: 100%;
    }

    .apartament__gallery-left {
        margin-bottom: 8px;
    }
}

@media (max-width:575.8px) {
    .apartament__gallery-left a {
        height: 50vw;
    }

    .apartament__gallery-right a {
        height: 30vw;
    }

    .apartament__info-wrap p {
        font-size: 14px;

        &+p {
            margin-top: 20px;
        }
    }

    .apartament__row-text p {
        font-size: 14px;
    }

    .apartament__row-icon {
        width: 35px;
        height: 35px;
        margin-right: 12px;
    }

    .apartament__info-wrap>ul li p {
        font-size: 14px;
    }

    .apartament__info-step {
        position: relative;
        padding-left: 40px;
        padding-bottom: 30px;
    }

    .apartament__info-step .number {
        top: -2px;
        width: 26px;
        height: 26px;
        font-size: 14px
    }

    .apartament__info-step:before {
        left: 13px;
    }

    .apartament__info-step>ul p {
        font-size: 14px;
    }

    .apartament__info-step>ul li {
        padding-left: 16px;
    }

    .apartament__info-step>ul li:before {
        left: 3px;
        width: 5px;
        height: 5px;
    }

    .apartament__info-step>p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .apartament__info-box {
        padding-bottom: 30px;
        margin-bottom: 35px;
    }

    .apartament__info-title h2 {
        font-size: 24px;
    }

    .apartament__wrapper {
        padding: 100px 0px 60px;
    }
}

@media (max-width:400px) {
    .apartament__info-map iframe {
        height: 200px;
    }

    .apartament__gallery {
        margin-bottom: 45px;
    }

    .apartament__form-box {
        .datepicker p {
            font-size: 14px;
        }

        .datepicker span {
            font-size: 12px;
        }
    }

    .apartament__form-box .reservation__form-guest span {
        font-size: 12px;
    }

    .apartament__form-box .reservation__form-guest input {
        font-size: 14px;
    }

    .apartament__form-box .inputfield label span {
        font-size: 12px;
    }

    .apartament__form-row p {
        font-size: 14px;
    }

    .apartament__form-row span {
        font-size: 14px;
    }

    .apartament__form-box .additional-service li p {
        font-size: 14px;
    }

    .apartament__form-row .row-right input+span:after {
        width: 22px;
        height: 22px;
        margin-left: 10px;
    }

    .apartament__form-row img {
        width: 17px;
        height: 17px;
        margin-right: 10px;
    }

    .apartament__form {
        padding: 20px 10px;
    }

    .apartament__form-box .additional-service .service-checkbox input+span:after {
        width: 22px;
        height: 22px;
    }

    .apartament__form-calculate li p {
        font-size: 14px;
    }

    .apartament__form-calculate li.total {
        padding-top: 18px;
        margin-bottom: 5px;
    }

    .apartament__form-calculate li.total p {
        font-size: 15px;
    }
}